{% set status = review.status %}
{% set statusDef = review.statuses()[status] ?? null %}
{% set statusColor = statusDef.color ?? status %}
{% set statusLabel = statusDef.label ?? statusDef ?? status|ucfirst %}

<div class="nixondesign-reviews-element">
	<div class="nixondesign-reviews-element-status">
		<span class="status {{ statusColor }}"></span>
	</div>

	<a href="{{ review.cpEditUrl }}">{{ review.title }}</a>

	<div class="nixondesign-reviews-element-review">
		<p>{{ review.review }}</p>
	</div>
</div>
