{% set maxRating = review.getType().maxRating %}
{% set settings = craft.app.plugins.getPlugin('reviews').settings %}
{% set displayType = settings.elementIndexRatingDisplayType %}

{% if displayType == constant('rynpsc\\reviews\\models\\Settings::RATING_DISPLAY_STAR') %}
	<div class="rynpsc-reviews-stars">
		<span class="visually-hidden">{{ review.rating }}/{{ maxRating }}</span>

		{% if review.rating %}
			{% for i in 1..review.rating %}
				<svg class="rynpsc-reviews-star-filled" width="15" height="15" viewBox="0 0 100 100"><path d="M47.29678545 6.42242146c.40000125-1.1506207 1.48500465-1.92121988 2.70300847-1.92121988 1.21800381 0 2.3030072.77059918 2.70300846 1.92121988l9.6450302 27.71095775c.23300074.66926011.66500209 1.25090415 1.23900389 1.6678722.5730018.41591244 1.26000394.6470922 1.96900616.6618708l29.33409187.61014566c1.21800382.02533477 2.28600716.8191575 2.66300834 1.9771675.37600118 1.15801-.02200007 2.42791523-.9920031 3.16473472l-23.3740732 17.73539299c-.56400177.42857982-.98400309 1.0197244-1.20300378 1.69320697-.21900068.67453819-.2270007 1.39974591-.02200006 2.07745095l8.48502657 28.08781241c.3520011 1.16645493-.07200023 2.42685962-1.05800331 3.14362243-.98500309.71570718-2.31600726.72943018-3.31601039.03377969L51.98180012 78.23804287c-.58200182-.40535628-1.27300398-.62175742-1.9820062-.62175742-.70900223 0-1.40000439.21640114-1.98200621.62175742L23.92671226 94.98643553c-1.00000313.6956505-2.3310073.6819275-3.31601039-.0337797-.98600308-.7167628-1.41000441-1.97716749-1.0580033-3.14362242L28.03772512 63.721221c.20500065-.67770504.19700062-1.40291276-.02200006-2.07745095-.21900069-.67348258-.639002-1.26462715-1.20300377-1.69320697L3.4386481 42.21517009c-.97000304-.73681949-1.36800429-2.00672472-.99200311-3.16473472.37700118-1.15801 1.44500452-1.95183273 2.66300834-1.9771675l29.33409187-.61014565c.70900222-.01477862 1.39600437-.24595837 1.96900616-.6618708.5740018-.41696806 1.00600315-.9986121 1.23900388-1.66787221l9.64503021-27.71095775z"/></svg>
			{% endfor %}
		{% endif %}

		{% if review.rating < maxRating %}
			{% for i in 1..(maxRating - review.rating) %}
				<svg class="rynpsc-reviews-star-empty" width="15" height="15" viewBox="0 0 100 100"><path d="M47.29678545 6.42242146c.40000125-1.1506207 1.48500465-1.92121988 2.70300847-1.92121988 1.21800381 0 2.3030072.77059918 2.70300846 1.92121988l9.6450302 27.71095775c.23300074.66926011.66500209 1.25090415 1.23900389 1.6678722.5730018.41591244 1.26000394.6470922 1.96900616.6618708l29.33409187.61014566c1.21800382.02533477 2.28600716.8191575 2.66300834 1.9771675.37600118 1.15801-.02200007 2.42791523-.9920031 3.16473472l-23.3740732 17.73539299c-.56400177.42857982-.98400309 1.0197244-1.20300378 1.69320697-.21900068.67453819-.2270007 1.39974591-.02200006 2.07745095l8.48502657 28.08781241c.3520011 1.16645493-.07200023 2.42685962-1.05800331 3.14362243-.98500309.71570718-2.31600726.72943018-3.31601039.03377969L51.98180012 78.23804287c-.58200182-.40535628-1.27300398-.62175742-1.9820062-.62175742-.70900223 0-1.40000439.21640114-1.98200621.62175742L23.92671226 94.98643553c-1.00000313.6956505-2.3310073.6819275-3.31601039-.0337797-.98600308-.7167628-1.41000441-1.97716749-1.0580033-3.14362242L28.03772512 63.721221c.20500065-.67770504.19700062-1.40291276-.02200006-2.07745095-.21900069-.67348258-.639002-1.26462715-1.20300377-1.69320697L3.4386481 42.21517009c-.97000304-.73681949-1.36800429-2.00672472-.99200311-3.16473472.37700118-1.15801 1.44500452-1.95183273 2.66300834-1.9771675l29.33409187-.61014565c.70900222-.01477862 1.39600437-.24595837 1.96900616-.6618708.5740018-.41696806 1.00600315-.9986121 1.23900388-1.66787221l9.64503021-27.71095775z"/></svg>
			{% endfor %}
		{% endif %}
	</div>
{% else %}
	<span>{{ review.rating }}/{{ maxRating }}</span>
{% endif %}
