<div class="rynpsc-reviews-star-input">
	{{ tag('input', {
		id: 'rating-0',
		name,
		type: 'radio',
		value: null,
		checked: not value,
	}) }}

	<label class="clear" for="rating-0">
		<svg style="fill-rule:evenodd;" viewBox="0 0 42 42">
			<path d="M21 0c11.59 0 21 9.41 21 21s-9.41 21-21 21S0 32.59 0 21 9.41 0 21 0Zm12.762 11.773A15.67 15.67 0 0 1 36.75 21c0 8.693-7.057 15.75-15.75 15.75a15.67 15.67 0 0 1-9.227-2.988l21.989-21.989Zm-3.535-3.535L8.238 30.227A15.67 15.67 0 0 1 5.25 21c0-8.693 7.057-15.75 15.75-15.75a15.67 15.67 0 0 1 9.227 2.988Z"/>
		</svg>
	</label>

    {% for i in 1..maxRating %}
        {% set id = 'rating-' ~ loop.index %}

        {{ tag('input', {
            id,
            name,
            type: 'radio',
            value: i,
            checked: value == i,
        }) }}

        <label for="{{ id }}">
			{{ svg('@rynpsc/reviews/web/assets/star-empty.svg') }}
        </label>
    {% endfor %}
</div>
